.boton-estilo {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.boton-estilo-dos {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn {
    border-color: #E6E7E7;
}

.btn-main {
    border-radius: 25px;
}