.font {
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    color: white;
}

.font-dos {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 150px;
}

.imagen1 {
    width: 100%;
}